<div class="contents">
  <div ng-show="!isReady()">
    Loading data ...
  </div>

  <div ng-show="isReady()">

    <div class="btn-group">
        <label class="btn btn-default" ng-model="setFilterEnabled" btn-radio="true">On</label>
        <label class="btn btn-default" ng-model="setFilterEnabled" btn-radio="false">Off</label>
    </div>

    <div class="btn-group">
      <a class="btn btn-default" href="#/setFilter"><span class="glyphicon glyphicon-filter"></span></a>
    </div>

    <div class="btn-group">
        <label class="btn btn-default" ng-model="textFilterEnabled" btn-radio="true">On</label>
        <label class="btn btn-default" ng-model="textFilterEnabled" btn-radio="false">Off</label>
    </div>

    <div class="btn-group">
      <a class="btn btn-default" href="#/import"><span class="glyphicon glyphicon-cloud-upload"></span></a>
      <a class="btn btn-default" href="#/export"><span class="glyphicon glyphicon-cloud-download"></span></a>
    </div>

    <input class="form-control" type="text" ng-model="filter" ng-focus='clearFilter()' ng-disabled='!textFilterEnabled'></input>

    <table tr-ng-grid="" items="filteredCards" fields="['name','set.name','setIcon','count','fcount']" page-items="12">
      <thead>
        <tr>
          <th field-name="name" display-name="Name" cell-width="250px" display-align="right"></th>
          <th field-name="setIcon" display-name="Icon" cell-width="60px"></th>
          <th field-name="set" display-name="Set"></th>
          <th field-name="count" display-name="Cards"></th>
          <th field-name="fcount" display-name="Foils"></th>
        </tr>
        </thead>
      <tbody>
      <tr>
        <td field-name="setIcon">
          <div>
            <img src="http://mtgimage.com/actual/symbol/set/{{gridItem.set.code.toLowerCase()}}/c/24.gif"></img>
          </div>
        </td>

        <td field-name="count">
          <div>
            {{gridItem.count}}
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-default" ng-click="updateCount(gridItem.mid,1,0)">+</button>
              <button type="button" class="btn btn-xs btn-default" ng-click="updateCount(gridItem.mid,-1,0)">-</button>
            </div>
          </div>
        </td>

        <td field-name="fcount">
          <div>
            {{gridItem.fcount}}
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-default" ng-click="updateCount(gridItem.mid,0,1)">+</button>
              <button type="button" class="btn btn-xs btn-default" ng-click="updateCount(gridItem.mid,0,-1)">-</button>
            </div>
          </div>
        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
