<div class="contents">
  <a href="#/import">Import</a>&nbsp;|&nbsp;<a href="#/export">Export</a>
  <hr>

  <div ng-show="!isReady()">
    Loading data ...
  </div>

  <div ng-show="isReady()">

    <input class="form-control" type="text" ng-model="filter" ng-focus='clearFilter()'>

    <div ng-repeat="card in filteredCards" class="row">
      <div class="col-md-1">
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-default" ng-click="updateCount(card.mid,1,0)">+</button>
          <button type="button" class="btn btn-xs btn-default" ng-click="updateCount(card.mid,-1,0)">-</button>
        </div>
        {{ card.count || 0 }}
      </div>

      <div class="col-md-1">
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-default" ng-click="updateCount(card.mid,0,1)">+</button>
          <button type="button" class="btn btn-xs btn-default" ng-click="updateCount(card.mid,0,-1)">-</button>
        </div>
        {{ card.fcount || 0 }}
      </div>

      <div class="col-md-2">
        {{card.name}}
      </div>

      <div class="col-md-3">
        <img src="http://mtgimage.com/actual/symbol/set/{{card.setCode.toLowerCase()}}/c/24.gif"></img>
        {{card.set.name }}
      </div>

    </div>

  </div>
</div>
