<div ng-if="!FBStatus.loggedIn">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h3 class="text-center">welcome</h3>
      <p class="text-justified">agdkjasdk amdnbklaj mDNKdb aMSD K,Abs amnsdBK,AJD Ansdbkabd asdb</p>

      <h3 class="text-center">features</h3>
      <ul>
        <li>easy interface for capturing cards</li>
        <li>tools to arganise your physical cards</li>
        <li>inovative deck building intercae</li>
        <li>fun collection browser</li>
        <li>build wanted lists</li>
      </ul>

    </div>
  </div>
</div>

<div ng-if="FBStatus.loggedIn">
  <i>Welcome ... {{ FBStatus.name }}, I hope you will enjoy yor staw with us.</i>
</div>
